$tablet--min-width: 460px;
$laptop--min-width: 620px;
$desctop--min-width: 1160px;

@mixin on-tablet {
  @media (min-width: $tablet--min-width) {
    @content;
  }
}

@mixin on-laptop {
  @media (min-width: $laptop--min-width) {
    @content;
  }
}

@mixin on-desctop {
  @media (min-width: $desctop--min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 10px;

  @include on-tablet {
    padding-inline: 20px;
  }

  @include on-laptop {
    padding-inline: 40px;
  }

  @include on-desctop {
    padding-inline: 0;
    max-width: $desctop--min-width;
    margin: 0 auto;
  }
}

@mixin page-grid {
  --columns: 4;

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;
  }

  @include on-laptop {
    --columns: 8;
  }

  @include on-desctop {
    column-gap: 24px;

    --columns: 16;
  }
}