@import "../../utils/grid.scss";

.hero-list {
  @include page-grid;

  grid-column: 1 / -1;
  grid-row: span 2;

  @include on-desctop {
    --columns: 9;

    grid-column: 1 / 10;

    grid-template-rows: auto;
    grid-auto-rows: auto;
  }

  &__loader {
    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    display: flex;
    justify-content: center;

    grid-column: 1 / -1;
  }
}
