@import "../../utils/grid.scss";

.hero-list {
  @include page-grid;

  grid-column: 1 / -1;
  grid-row: span 2;

  @include on-desctop {
    --columns: 9;

    grid-column: 1 / 10;
  }

  &__loader {
    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  // &__wrapper {
  //   grid-column: 1 / -1;

  //   @include page-grid;

  //   @include on-desctop {
  //     --columns: 9;
  //     grid-template-columns: repeat(var(--columns), 1fr);
  //     grid-template-rows: 320px;
  //     grid-auto-rows: 320px;
  //   }
  // }

  &__button {
    display: flex;
    justify-content: center;

    grid-column: 1 / -1;
  }
}
